{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 1%, last 2 versions"
        },
        "modules": false
      }
    ]
  ],
  "env": {
    "cjs": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    },
  }
}
